.message{
    position: absolute;
      max-width: 30vw;
      width: 500px;
      height: 50vh;
      background-color: rgb(221, 224, 221);
      top: 31px;
      right: 30px;
      border-radius: 20px 0px 20px 20px;
      z-index: 5;
      color:black;
      padding: 5px 10px;
      
      border: 4px solid #356664e0;
      overflow-y: auto;
  }
  .headermessage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid orange;
    position: sticky;
    top:-6px;
    z-index: 2;
    background-color: rgb(221, 224, 221);
  }
  .bodymessage{
  
    
    /* display: flex;
    align-items: column;
    
    flex-wrap: wrap;
    justify-content: left; */
    
  }